# Binaries
/vmware-tuner
/vmware-tuner.exe
*.exe
*.dll

# Go build

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.log
*.tmp
.vmware-tuner-backups/
services.txt

# Local Reports (Do not commit)
full_codebase.txt
SECURITY_CHANGELOG.md
project_tree.txt

